he-block {
	display: block;
}

* {
	box-sizing: border-box;
}

table.sortable th {
	cursor: pointer;
	min-width: 6rem;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
	content: " \25B4\25BE" 
}

body {
	height: 100vh;
	padding: 0;
	padding-top: 0;
	background-image: url(/public/singing.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	color: #FFF;
	font-family: 'Oswald', sans-serif;
	margin: 0;

	.navigation {
		width: 100%;
		padding: 0.5rem 1rem ;
		background: black;

		ul {
			display: flex;

			li {
				list-style: none;
				margin-right: 1rem;

				a {
					color: white;
					font-size: 1.5rem;
				}
			}
		}

		& + .board {
			margin-top: 1rem;
		}
	}

	.navigation + h1 {
		font-size: 200% !important;
	}

	h1 {
		font-size: 450%;
		text-shadow: 2px 2px 2px rgba(0,0,0,.5), 2px 2px 20px rgba(0,0,0,.8);
		font-family: 'Pacifico', sans-serif;
		font-weight: normal;
		text-align: center;
		padding: 2rem;
		margin: 0;
	}

	.row {
		display: flex;
		justify-content: space-between;
	}

	.player-name {
		min-width: 10rem;
	}

	.pacifico {
		font-family: 'Pacifico', sans-serif;
		font-weight: normal;
	}

	.board {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		backdrop-filter: blur(15px);
		background-color: rgba(0, 0, 0, 0.3);
		margin: 0 4rem;
		padding: 1rem 1rem;
		border-radius: 4px;

		&.songs {
			table {
				width: 99%;

				td {
					font-size: 150% !important;
				}
			}
		}

		table {
			width: 47%;
			margin-right: 3rem;
		}

		.songs {
			min-width: 24rem;
		}
	}

	td {
		font-size: 250%;
		color: white;
		text-shadow: 2px 2px 2px rgba(0,0,0,.5), 2px 2px 20px rgba(0,0,0,.5);
		padding-right: 2rem;
		padding-top: .25rem;
		padding-bottom: .25rem;
	}

	th {
		text-shadow: 2px 2px 2px rgba(0,0,0,.5), 2px 2px 20px rgba(0,0,0,.5);
	}

	td.rank {
		padding-right: 1rem;

		span {
			background: rgba(237, 40, 50, .75);
			border-radius: 100%;
			display: inline-block;
			width: 4rem; height: 4rem;
			text-align: center;
		}
	}

	.small {
		font-size: 120%;
		font-weight: 100;
		padding-bottom: 1rem;
		border-bottom: 2px solid rgba(255,255,255,.5);
	}

	th {
		text-align: left;
	}
}